<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weixingwang.threepomelo">
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.weixingwang.threepomelo.activity.ShplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:priority="0" >
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="geo" />
            </intent-filter>
            <!-- 您的发布产品中请不要使用这个 key !!! -->
            <meta-data
                android:name="TencentMapSDK"
                android:value="EXLBZ-B7TH5-CTZIK-QNQFR-76OGO-GNFCS" />
        </activity>
        <!--登录-->
        <activity android:name=".activity.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--注册01-->
        <activity android:name=".activity.CreatIDActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--注册02-->
        <activity android:name=".activity.RegestActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--密码重置-->
        <activity android:name=".activity.SetPasswordActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--主界面-->
        <activity android:name=".activity.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <!--商家入驻->-->
        <activity android:name=".activity.CreateShopActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--购物车->-->
        <activity android:name=".activity.ShoppingBusActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--店铺详情->-->
        <activity android:name=".activity.SellerMessageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--商城详情->-->
        <activity android:name=".activity.ShopMessageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--订单详情->-->
        <activity android:name=".activity.MyOrderEvaluateActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--我的账户->-->
        <activity android:name=".activity.AccountManagerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--资金管理->-->
        <activity android:name=".activity.CofferManagerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--我的向日葵->-->
        <activity android:name=".activity.MySunFlwoerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--我的收益->-->
        <activity android:name=".activity.MyAllInActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--我的团队->-->
        <activity android:name=".activity.MyTeamActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--商品详情->-->
        <activity android:name=".activity.SureMyOrderActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--收货地址添加->-->
        <activity android:name=".activity.AddAdressActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--商城订单->-->
        <activity android:name=".activity.ShopOrderActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--收银台->-->
        <activity android:name=".activity.PayActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <!--腾讯地图->-->
        <activity android:name=".activity.TencentMapAvtivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
    </application>

</manifest>